<!DOCTYPE html>
<html lang="en">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CMA Explorer</title>

    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/signup.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/exhibit.js') }}"></script>
    <script>
      $(function(){
        $.ajax({
          url : '/getActiveExhibits',
          type : 'GET',
          success: function(res){
            var option = $('<option>')
            
            var exhibitObj = JSON.parse(res);
            var exhibit = '';
            
            $.each(exhibitObj,function(index, value){
              exhibit = $(option).clone();
              $(exhibit).val(value.Id);
              $(exhibit).text(value.Name);
              $('#exhibitSelectList').append(exhibit);
              $('#exhibitSelectList1').append(exhibit);

            });
          },
          error: function(error){
            console.log(error);
          }
        });
      }),
      $(function(){
        $.ajax({
          url : '/getPieceTypes',
          type : 'GET',
          success: function(res){
            var option = $('<option>')
            
            var pieceObj = JSON.parse(res);
            var piece = '';
            
            $.each(pieceObj,function(index, value){
              piece = $(option).clone();
              $(piece).val(value.Type);
              $(piece).text(value.Type);
              $('#typeSelectList').append(piece);
            });
          },
          error: function(error){
            console.log(error);
          }
        });
      }),
      $(function(){
        $.ajax({
          url : '/getLocations',
          type : 'GET',
          success: function(res){
            var option = $('<option>')
            
            var locationObj = JSON.parse(res);
            var location = '';
            
            $.each(locationObj,function(index, value){
              location = $(option).clone();
              $(location).val(value.Location);
              $(location).text(value.Location);
              $('#locationSelectList').append(location);
            });
          },
          error: function(error){
            console.log(error);
          }
        });
      });
    </script>

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container" id="home">
            <div class="navbar-header">
                <a class="navbar-brand" href="showHome">CMA Explorer</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="showExhibitPage">Exhibits</a>
                    </li>
                    <li>
                        <a href="showPiecePage">Pieces</a>
                    </li>
                    <li>
                        <a href="showCuratorPage">Curators</a>
                    </li>
                    <li>
                        <a href="showDonorPage">Donors</a>
                    </li>
                    <li>
                      <a href="showSignUp">Sign up</a>
                    </li>
                    <li>
                      <a href="showSignIn">Sign in</a>
                    </li>
                    <li>
                      <a href="/logout">Logout</a>
                    </li>
                    <li>
                      <a href="/showAdmin">Admin</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">

            <div class="col-md-3">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <span/>What are all the exhibits?</div>
                  <button type="submit" id="showAllExhibits" class="btn btn-success btn-sm">Show all exhibits</button>
                  <ul class="list-group" id="allExhibits">
                  </ul>
                </div>
            </div>

            <div class="col-md-3 col-md-offset-1">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <span/>What are all the current exhibits?</div>
                  <button type="submit" id="showCurrentExhibits" class="btn btn-success btn-sm">Show current exhibits</button>
                  <ul class="list-group" id="currentExhibits">
                  </ul>
                </div>
            </div>

            <div class="col-md-3 col-md-offset-2">
            <div class="panel panel-default">
              <div class="panel-heading">
                <span/> What pieces are in this exhibit?</div>
                <form class="form-seePiecesFromExhibit" id="seePiecesFromExhibit">
                  <label for="selectExhibit">Select exhibit:</label>
                  <select class="form-control" name="exhibitSelectList" id="exhibitSelectList"> </select>
                  <button type="button" id="submitButtonSeePiecesFromExhibit" class="btn btn-success btn-sm"> See all pieces in exhibit</button>
                </form>
                <ul class="list-group" id="piecesInExhibit">
                </ul>
            </div>
          </div>
        </div>

      <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading">
                <span/> What exhibits were open from:</div>
                <form class="form-seeExhibitsBetweenTimes">
                  <label for="inputExhibitStartDate" class="sr-only">Start Date</label>
                  <input type="startDate" name="inputExhibitStartDate" id="inputExhibitStartDate" class="form-control" placeholder="Start Date" required>
                  <label for="inputExhibitEndDate" class="sr-only">End Date</label>
                  <input type="endDate" name="inputExhibitEndDate" id="inputExhibitEndDate" class="form-control" placeholder="End Date" required>
                  <button type="button" id="submitGetExhibitsByTimeFrame" class="btn btn-success btn-sm"> Find exhibits</button>
                </form>
                <ul class="list-group" id="exhibitsByTimeFrame">
                </ul>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-md-offset-1">
            <div class="panel panel-default">
              <div class="panel-heading">
                <span/> What pieces of a given type are in this exhibit?</div>
                <form class="form-seePiecesOfGivenTypeFromExhibit" id="seePiecesOfGivenTypeFromExhibit">
                  <label for="selectExhibit1">Select exhibit:</label>
                  <select class="form-control" name="exhibitSelectList1" id="exhibitSelectList1"> </select>
                  <label for="selectType">Select type:</label>
                  <select class="form-control" name="typeSelectList" id="typeSelectList"> </select>
                  <button type="button" id="submitButtonSeePiecesOfGivenTypeFromExhibit" class="btn btn-success btn-sm"> See all pieces of type in exhibit</button>
                </form>
                <ul class="list-group" id="piecesInExhibitByType">
                </ul>
            </div>
          </div>

        <div class="col-md-3 col-md-offset-2">
            <div class="panel panel-default">
              <div class="panel-heading">
                <span/> What exhibits have ever been in this location?</div>
                <form class="form-seeExhibitsInLocation" id="seeExhibitsInLocation">
                  <label for="selectLocation">Select location:</label>
                  <select class="form-control" name="locationSelectList" id="locationSelectList"> </select>
                  <button type="button" id="submitButtonSeeExhibitsInLocation" class="btn btn-success btn-sm">See all exhibits that have been here</button>
                </form>
                <ul class="list-group" id="exhibitsInLocation">
                </ul>
            </div>
          </div>
          
      </div> 

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/exhibit.js') }}"></script>

</body>

</html>
