<!DOCTYPE html>
<html lang="en">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CMA Explorer</title>

    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container" id="home">
            <div class="navbar-header">
                <a class="navbar-brand" href="showHome">CMA Explorer</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="showExhibitPage">Exhibits</a>
                    </li>
                    <li>
                        <a href="showPiecePage">Pieces</a>
                    </li>
                    <li>
                        <a href="showCuratorPage">Curators</a>
                    </li>
                    <li>
                        <a href="showDonorPage">Donors</a>
                    </li>
                    <li>
                    	<a href="showSignUp">Sign up</a>
                    </li>
                    <li>
                    	<a href="showSignIn">Sign in</a>
                    </li>
                    <li>
                    	<a href="/logout">Logout</a>
                    </li>
                    <li>
                    	<a href="/showAdmin">Admin</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h1>Cleveland Museum of Art</h1>
                <h2>Explore the museum</h2>
            </div>
        </div>
    </header>

    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Made by Haley, Julia, Max</p>
            </div>
        </div>
    </footer>

    </div>

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>

</html>
